{% extends "base.html" %} {% block content %}

<meta name="csrf-token" content="{{ csrf_token() }}" />
<script src="static/create_new.js"></script>
<div class="container mt-5">
  <h1>Good choice to make this easier</h1>
  <p>Your partner will appreciate it.</p>

  <form id="dataForm">
    <div class="form-group">
      <label for="dataName">Name of your date collection:</label>
      <input type="text" class="form-control" id="dataName" required />
    </div>
    <div class="form-group">
      <label for="email">Your Email Address:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
      />
      <div class="invalid-feedback">Please enter a valid email address.</div>
    </div>
    <div class="alert alert-info" role="alert">
      We need your email address to send you the link to access the database. We
      do not save any information from you, including your email.
    </div>
    <button type="button" class="btn btn-primary" onclick="saveData()">
      Save
    </button>
  </form>
</div>

{% endblock %}
